In [172]:
import numpy as np
import matplotlib.pyplot as plt
import pandas
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

numpy.random.seed(7)

import pandas
import matplotlib.pyplot as plt

In [173]:
#load data

dataframe = pandas.read_csv('../data/example_wp_peyton_manning.csv')

In [174]:
train=int(len(dataframe)*0.7)
test=len(dataframe)-train

X_train=dataframe['y']
X_train=X_train[:train]

In [175]:
X_train

0       14629
1        5012
2        3582
3        3205
4        2680
5        2401
6        4510
7        6831
8        4370
9        3196
10       2642
11       2349
12       1862
13       4382
14       5542
15       2572
16       2576
17       3140
18       2770
19       2536
20      16369
21      11920
22       3999
23       4604
24       3874
25       3317
26       2836
27      13484
28       6952
29       4585
        ...
2003     5062
2004     2569
2005     2430
2006     1963
2007     1701
2008     2077
2009     1858
2010     2264
2011     2734
2012     5765
2013     4007
2014     3403
2015     2767
2016     2511
2017     2551
2018     2385
2019     2361
2020     2416
2021     2195
2022     2243
2023     3473
2024     3839
2025     2811
2026     2464
2027     2488
2028     2471
2029     1892
2030     4790
2031     2421
2032     2139
Name: y, Length: 2033, dtype: int64

In [176]:
def MinMaxScaler(data):
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    return numerator / (denominator + 1e-7)

In [177]:
temp=MinMaxScaler(X_train)

In [178]:
temp

0       0.045254
1       0.015107
2       0.010624
3       0.009442
4       0.007796
5       0.006922
6       0.013533
7       0.020809
8       0.013094
9       0.009414
10      0.007677
11      0.006759
12      0.005232
13      0.013132
14      0.016768
15      0.007458
16      0.007470
17      0.009238
18      0.008078
19      0.007345
20      0.050709
21      0.036762
22      0.011931
23      0.013828
24      0.011539
25      0.009793
26      0.008285
27      0.041665
28      0.021188
29      0.013768
          ...
2003    0.015263
2004    0.007448
2005    0.007013
2006    0.005549
2007    0.004727
2008    0.005906
2009    0.005219
2010    0.006492
2011    0.007966
2012    0.017467
2013    0.011956
2014    0.010063
2015    0.008069
2016    0.007267
2017    0.007392
2018    0.006872
2019    0.006796
2020    0.006969
2021    0.006276
2022    0.006426
2023    0.010282
2024    0.011430
2025    0.008207
2026    0.007119
2027    0.007194
2028    0.007141
2029    0.005326
2030    0.014411
2031    0.006984
2032    0.006100
Name: y, Length: 2033, dtype: float64

In [ ]:
X_train

In [161]:
scaler=MinMaxScaler()

In [162]:
scaler.fit(X_train)

c:\users\user\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)
c:\users\user\anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [163]:
X_train

0       14629
1        5012
2        3582
3        3205
4        2680
5        2401
6        4510
7        6831
8        4370
9        3196
10       2642
11       2349
12       1862
13       4382
14       5542
15       2572
16       2576
17       3140
18       2770
19       2536
20      16369
21      11920
22       3999
23       4604
24       3874
25       3317
26       2836
27      13484
28       6952
29       4585
        ...
2003     5062
2004     2569
2005     2430
2006     1963
2007     1701
2008     2077
2009     1858
2010     2264
2011     2734
2012     5765
2013     4007
2014     3403
2015     2767
2016     2511
2017     2551
2018     2385
2019     2361
2020     2416
2021     2195
2022     2243
2023     3473
2024     3839
2025     2811
2026     2464
2027     2488
2028     2471
2029     1892
2030     4790
2031     2421
2032     2139
Name: y, Length: 2033, dtype: int64

In [155]:
dataset=dataframe.astype(np.float)

ValueError: could not convert string to float: '2016-01-20'

In [149]:
def MinMaxScaler(data):
    numerator=data-min(data,0)
    denominator=max(data,0)-min(data,0)
    return numerator/(denominator+1e-7)

In [150]:
MinMaxScaler([1,2,3,4])

TypeError: unorderable types: int() < list()

xy=xy[1:].astypte

In [148]:
temp= [string(i) for i in dataframe['ds']]

NameError: name 'string' is not defined

In [145]:
dataset=dataset.astype('float32')

ValueError: could not convert string to float: '2016-01-20'

In [142]:
dataframe['y']=[v for v in MinMaxScaler(dataframe['y'])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [140]:
dataframe['y']

0       14629
1        5012
2        3582
3        3205
4        2680
5        2401
6        4510
7        6831
8        4370
9        3196
10       2642
11       2349
12       1862
13       4382
14       5542
15       2572
16       2576
17       3140
18       2770
19       2536
20      16369
21      11920
22       3999
23       4604
24       3874
25       3317
26       2836
27      13484
28       6952
29       4585
        ...
2875     3329
2876     2381
2877     1552
2878     1483
2879     1237
2880     7178
2881    10411
2882    10383
2883     4409
2884     2995
2885     1977
2886     2503
2887     3825
2888    10885
2889     5262
2890     4241
2891     4007
2892     3985
2893     2406
2894     3951
2895     4773
2896     3412
2897     3188
2898     3052
2899     3047
2900     2483
2901    10656
2902    30754
2903     9190
2904     7269
Name: y, Length: 2905, dtype: int64

In [115]:
#load data
dataframe = pandas.read_csv('../data/international-airline-passengers.csv')

In [117]:
# fix random seed for reproducibility
numpy.random.seed(7)

In [121]:
# load the dataset
dataframe = pandas.read_csv('international-airline-passengers.csv', usecols=[1], engine='python', skipfooter=3)

dataset = dataset.astype('float32')

FileNotFoundError: [Errno 2] No such file or directory: 'international-airline-passengers.csv'

In [120]:
dataframe

,Month,International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60
0,1949-01,112.0
1,1949-02,118.0
2,1949-03,132.0
3,1949-04,129.0
4,1949-05,121.0
5,1949-06,135.0
6,1949-07,148.0
7,1949-08,148.0
8,1949-09,136.0
9,1949-10,119.0
10,1949-11,104.0
11,1949-12,118.0
12,1950-01,115.0
13,1950-02,126.0
14,1950-03,141.0
15,1950-04,135.0
16,1950-05,125.0
17,1950-06,149.0
18,1950-07,170.0
19,1950-08,170.0
20,1950-09,158.0
21,1950-10,133.0
22,1950-11,114.0
23,1950-12,140.0
24,1951-01,145.0
25,1951-02,150.0
26,1951-03,178.0
27,1951-04,163.0
28,1951-05,172.0
29,1951-06,178.0
...,...,...
115,1958-08,505.0
116,1958-09,404.0
117,1958-10,359.0
118,1958-11,310.0
119,1958-12,337.0
120,1959-01,360.0
121,1959-02,342.0
122,1959-03,406.0
123,1959-04,396.0
124,1959-05,420.0
125,1959-06,472.0
126,1959-07,548.0
127,1959-08,559.0
128,1959-09,463.0
129,1959-10,407.0
130,1959-11,362.0
131,1959-12,405.0
132,1960-01,417.0
133,1960-02,391.0
134,1960-03,419.0
135,1960-04,461.0
136,1960-05,472.0
137,1960-06,535.0
138,1960-07,622.0
139,1960-08,606.0
140,1960-09,508.0
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,International airline passengers: monthly tota...,NaN

In [102]:
type(dataframe)

pandas.core.frame.DataFrame