In [1]:
import re

In [5]:
db = '''
3412    Bob 123
3834  Jonny 333
1248   Kate 634
1423   Tony 567
2567  Peter 435
3567  Alice 535
1548  Kerry 534'''

In [6]:
print(db)

3412    Bob 123
3834  Jonny 333
1248   Kate 634
1423   Tony 567
2567  Peter 435
3567  Alice 535
1548  Kerry 534

문제: 이름만 찾아보세요.

In [7]:
names=re.findall(r'[A-Za-z]+',db)

In [8]:
names

['Bob', 'Jonny', 'Kate', 'Tony', 'Peter', 'Alice', 'Kerry']

In [9]:
names=re.findall(r'[A-Z][a-z]+',db)

In [10]:
names

['Bob', 'Jonny', 'Kate', 'Tony', 'Peter', 'Alice', 'Kerry']

문제: T로 시작하는 이름만

In [11]:
names=re.findall(r'T[a-z]+',db)

In [12]:
names

['Tony']

In [14]:
names=re.findall(r'T[a-z]+',db)

In [20]:
names=re.findall(r'[^T][a-z]+',db)

In [22]:
names

['Bob', 'Jonny', 'Kate', 'ony', 'Peter', 'Alice', 'Kerry']

In [24]:
names=re.findall(r'[A-SU-Z][a-z]+',db)

In [25]:
names

['Bob', 'Jonny', 'Kate', 'Peter', 'Alice', 'Kerry']

In [45]:
count=input('count= ')

count= 4

In [42]:
print('Good morning')

Good morning

In [43]:
count= 2
count=int(count)
while(~(count)):
    print('Good morning')
    count=count-1

Good morning
Good morning
Good morning

In [47]:
count=int(count)
while(count>0):
    print('Good')
    count=count-1

Good
Good
Good
Good

In [49]:
import random

In [50]:
for _ in range(10):
    n=random.randrange(100)
    print(n, end=' ')
    if m<n:
        m=n

75

NameError: name 'm' is not defined

In [56]:
random.randrange(10)

2

In [59]:
for _ in range(10):
    print(random.randrange(10,20))

17
13
10
19
16
17
12
12
18
18

문제: random을 10개 생성하여 이 중 가장 최소뽑기

## 내부에 있는 수를 초기값으로 사용하여 최소값을 구한다!
내가 데이터를 건드리지 않으므로 데이터가 깨끗해진다.

In [64]:
m=-random.randrange(100)
print(m)
for _ in range(10-1):
    n=-random.randrange(100)
    print(n,end=' ')
    if(m>n):m=n
print()
print(m)

-77
-1 -55 -16 -66 -16 -16 -94 -11 -46
-94