In [2]:
a=56
print(3.14,a)

3.14 56

In [3]:
print(a, type(a))

56 <class 'int'>

In [5]:
print('hello,\npython!') #개행문자

hello,
python!

In [6]:
print('"hello"')

"hello"

In [12]:
a=1
b=2
print(a,b)
#t=a,a=b,b=t 이렇게 쓰면 안된다.
t=a
a=b
b=t
print(a,b)
#그러나, 파이썬은 이렇게 하지 않음

1 2
2 1

In [13]:
a,b=b,a #다중치환 / 대입을 한 번에 여러번 하는건 파이썬뿐
print(a,b)

1 2

In [14]:
a=10
b=3
a//b

3

2자리 양수를 거꾸로 뒤집기

In [16]:
a=73
b,c=a//10,a%10
a_=10*c+b
a_

37

형변환

In [19]:
print(a==b)
print(int(a==b))

False
0

In [20]:
#데이터 변환함수
float, int, str, bool

(float, int, str, bool)

In [21]:
print('345')
print(int('345'))

345
345

In [ ]:
type(int('345'))

In [23]:
print(int(a!=b))

1

In [27]:
age=15
b1=age>=10
b2=age<=19
print(bool(b1*b2))
#T*T=T
#T*F=F
#F*F=F

True

In [30]:
a=1
if a:
    print(False)
else:
    print(True)

False

문제: 0~999사이의 숫자를 입력받아 몇 자리 숫자인지 맞춰보기

In [42]:
a=input('number= ') #우와!

number= 102

In [43]:
type(a)

str

In [46]:
a=int(a)
a=a//10
print(a)

0

In [48]:
a=int(a)
a=102
number=0
while(a!=1):
    a=a//10
    number=number+1
    
print(number)

2

In [51]:
a=100
a1,a2,a3=bool(a//100), bool(a//10),bool(a/1)
print(a1+a2+a3)

3

In [53]:
digit=0
if(a>=10): digit=digit+1; a=a//10

In [64]:
a=input('input= ')

input= 103

In [65]:
digit=0
a=int(a)
while(a>=10): digit=digit+1; print("*",digit);a=a//10

print(digit)

* 1
* 2
2

# 함수

함수의 핵심: 데이터 넘겨주고 넘겨받기

매개변수: 넘겨받는 데이터, 반환값: 넘겨주는 데이터

In [66]:
def f_1():
    print(f_1)

In [67]:
#넘겨받은 데이터는 반드시 이용해야
def f_2(a):
    print(a)

In [68]:
f_2(1)

1

In [69]:
f_2(23)

23

In [70]:
#매개변수 없고, 반환값 있고
def f_3():
    print('f_3')
    return 17

In [71]:
f_3()

f_3

17

In [72]:
def Max(a,b,c,d):
    answer=max(a,b,c,d)
    
    return answer

In [78]:
Max(1,2,34,5)

34

In [76]:
def max2(a,b):
    if(a>b): return a
    else: return b

함수 없이 프로젝트를 하는건 말도 안됨: 가장 큰 목적은 재사용!!!

In [77]:
def max4(a,b,c,d):
    return max2(max2(a,b),max2(c,d))

In [79]:
max4(1,2,34,5)

34

정규표현식 연습