Data import

시도 내용 요약:
주중(1)/주말(2) + 겨울(1)봄(2)여름(3)가을(4) // 

이미 lstm이라는 것이 sequence 개념이 있으므로 시간축(1~397)를 feature로 설정하는 것은 의미가 없을 듯 하여 LSTM 시도2에서는 제외함

https://bigdatascientistblog.wordpress.com/2015/10/02/feature-engineering-with-dates-part-1/

에 따르면 날짜 datestampe에서 9가지의 특성을 끌어낼 수 있다고 한다. 따라서 이를 적용해보고자 한다.

year, month, day, day of week, week of year, hour of day

In [50]:
import tensorflow as tf
import numpy as np
import matplotlib
import os
import matplotlib.pyplot as plt
import pandas as pd
tf.set_random_seed(7)
def MinMaxScaler(data):
    numerator=data-np.min(data)
    denominator=np.max(data)-np.min(data)
    return numerator/(denominator+1e-7)

In [62]:
columns=['date','amount']

txs=pd.read_table('./lstmData/lstmPrac2.csv', sep=',',header=None,names=columns )
txs.info()
txs.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
date      397 non-null object
amount    397 non-null int64
dtypes: int64(1), object(1)
memory usage: 6.3+ KB

         date  amount
0  2016-01-01      34
1  2016-01-02      41
2  2016-01-03      54
3  2016-01-04      41
4  2016-01-05      35

In [63]:
from datetime import datetime

# 1. 기본 feature

In [64]:
year = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year  
day_of_week = lambda x: datetime.strptime(x, "%Y-%m-%d" ).weekday()
month = lambda x: datetime.strptime(x, "%Y-%m-%d" ).month
# please read docs on how week numbers are calculate
week_number = lambda x: datetime.strptime(x, "%Y-%m-%d" ).strftime('%V')

# 2. 추가 feature

In [65]:
seasons = [0,0,1,1,1,2,2,2,3,3,3,0] #dec - feb is winter, then spring, summer, fall etc
season = lambda x: seasons[(datetime.strptime(x, "%Y-%m-%d" ).month-1)]

In [77]:
txs['year'] = txs['date'].map(year)
txs['month']=txs['date'].map(month)
txs['week_number']=txs['date'].map(week_number)
txs['season']=txs['date'].map(season)
txs['day_of_week']=txs['date'].map(day_of_week)
# txs['week_number']=txs['date'].map(week_number)
txs

           date  amount  year  month week_number  season  day_of_week
0    2016-01-01      34  2016      1          53       0            4
1    2016-01-02      41  2016      1          53       0            5
2    2016-01-03      54  2016      1          53       0            6
3    2016-01-04      41  2016      1          01       0            0
4    2016-01-05      35  2016      1          01       0            1
5    2016-01-06      44  2016      1          01       0            2
6    2016-01-07      50  2016      1          01       0            3
7    2016-01-08      42  2016      1          01       0            4
8    2016-01-09      42  2016      1          01       0            5
9    2016-01-10      66  2016      1          01       0            6
10   2016-01-11      50  2016      1          02       0            0
11   2016-01-12      55  2016      1          02       0            1
12   2016-01-13      56  2016      1          02       0            2
13   2016-01-14      53  2016      1          02       0            3
14   2016-01-15      44  2016      1          02       0            4
15   2016-01-16      54  2016      1          02       0            5
16   2016-01-17      54  2016      1          02       0            6
17   2016-01-18      50  2016      1          03       0            0
18   2016-01-19      40  2016      1          03       0            1
19   2016-01-20      49  2016      1          03       0            2
20   2016-01-21      28  2016      1          03       0            3
21   2016-01-22      72  2016      1          03       0            4
22   2016-01-23      71  2016      1          03       0            5
23   2016-01-24      53  2016      1          03       0            6
24   2016-01-25      43  2016      1          04       0            0
25   2016-01-26      38  2016      1          04       0            1
26   2016-01-27      55  2016      1          04       0            2
27   2016-01-28      49  2016      1          04       0            3
28   2016-01-29      43  2016      1          04       0            4
29   2016-01-30      49  2016      1          04       0            5
..          ...     ...   ...    ...         ...     ...          ...
367  2017-01-02      16  2017      1          01       0            0
368  2017-01-03      20  2017      1          01       0            1
369  2017-01-04      12  2017      1          01       0            2
370  2017-01-05      11  2017      1          01       0            3
371  2017-01-06      22  2017      1          01       0            4
372  2017-01-07      20  2017      1          01       0            5
373  2017-01-08      16  2017      1          01       0            6
374  2017-01-09      17  2017      1          02       0            0
375  2017-01-10      97  2017      1          02       0            1
376  2017-01-11       0  2017      1          02       0            2
377  2017-01-12      23  2017      1          02       0            3
378  2017-01-13     100  2017      1          02       0            4
379  2017-01-14      18  2017      1          02       0            5
380  2017-01-15      13  2017      1          02       0            6
381  2017-01-16      21  2017      1          03       0            0
382  2017-01-17      24  2017      1          03       0            1
383  2017-01-18      16  2017      1          03       0            2
384  2017-01-19      18  2017      1          03       0            3
385  2017-01-20      22  2017      1          03       0            4
386  2017-01-21      18  2017      1          03       0            5
387  2017-01-22      11  2017      1          03       0            6
388  2017-01-23      24  2017      1          04       0            0
389  2017-01-24      22  2017      1          04       0            1
390  2017-01-25      20  2017      1          04       0            2
391  2017-01-26      22  2017      1          04       0            3
392  2017-01-27      26  2017      1          04       0            4
393  2017-01-28       0  2017      1          04       0            5
394  2017-01-29       0  2017      1          04       0            6
395  2017-01-30       5  2017      1          05       0            0
396  2017-01-31      31  2017      1          05       0            1

[397 rows x 7 columns]

pandas를 통해 구한 각 feature는 다음 코드를 통해 우리의 기준type인 list로 변경이 가능

In [83]:
list(txs['day_of_week'])

[4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1]

# 3. 추가 가공

이상점 제거, normalization, bucketization 을 하여 새로운 열을 생성하는 방향으로

이상점 제거를 위해 평균과 표준편차를 구한다. 이상점의 기준은 일단 평균+-2*sd로 설정

In [127]:
np.mean(txs['amount'])

35.191435768261968

In [128]:
mean=np.mean(xy[:,-1])
mean

TypeError: cannot perform reduce with flexible type

In [25]:
std=np.std(xy[:,-1])
std

36.518152240039889

In [26]:
for i in range(len(xy)):
    if (xy[i,-1]<mean-2*std or xy[i,-1]>mean+2*std):
         xy[i,-1]=int(mean)

In [28]:
xy[:,-1]

array([  34.,   41.,   54.,   41.,   35.,   44.,   50.,   42.,   42.,
         66.,   50.,   55.,   56.,   53.,   44.,   54.,   54.,   50.,
         40.,   49.,   28.,   72.,   71.,   53.,   43.,   38.,   55.,
         49.,   43.,   49.,   49.,   44.,   39.,   52.,   45.,   33.,
         43.,   40.,   46.,   49.,   50.,   37.,   37.,   45.,   48.,
         48.,   38.,   60.,   31.,   35.,   53.,   70.,   62.,   48.,
         51.,   49.,   38.,   32.,   39.,   35.,   30.,   36.,   31.,
         31.,   44.,   41.,   41.,   45.,   46.,   45.,   41.,   47.,
         48.,   40.,   42.,   38.,   38.,   45.,   48.,   62.,   46.,
         38.,   62.,   81.,   40.,   45.,   42.,   53.,   53.,   56.,
         53.,   47.,   61.,   64.,   62.,   37.,   65.,   54.,   44.,
         46.,   50.,   43.,   53.,   63.,   52.,    2.,    0.,    0.,
         72.,   59.,   75.,   47.,   44.,   77.,   90.,   93.,   47.,
         61.,   77.,   35.,   50.,   58.,   33.,   41.,   36.,   64.,
         49.,   53.,   60.,   43.,   41.,   55.,   45.,   18.,   60.,
         69.,   54.,   39.,   50.,   44.,   54.,   57.,   82.,   57.,
         44.,   56.,   51.,   55.,   28.,   56.,   54.,   36.,   12.,
         25.,   41.,   11.,    6.,    9.,   35.,   29.,   24.,   23.,
         14.,   21.,   20.,   25.,   23.,   27.,   31.,   16.,   14.,
         30.,   32.,   75.,   35.,   26.,   12.,   21.,   23.,   28.,
         25.,   31.,   21.,   17.,   10.,   29.,   34.,   28.,   20.,
         36.,   23.,   15.,   42.,   28.,   24.,   29.,   20.,   14.,
         18.,   27.,   22.,   31.,   24.,   39.,   31.,   17.,   42.,
         29.,   33.,   22.,   39.,   25.,   23.,   25.,   21.,   18.,
         24.,   24.,   20.,    9.,   31.,   33.,   33.,   31.,   27.,
         35.,   15.,   25.,   32.,   29.,   32.,   21.,   92.,   19.,
         37.,   29.,   33.,   16.,   22.,   25.,   21.,   46.,   34.,
         31.,   22.,   30.,   28.,   14.,   25.,   33.,   28.,   24.,
         42.,   26.,   19.,   41.,   34.,    8.,    0.,    0.,   11.,
         16.,   27.,   27.,   21.,   37.,   41.,   23.,   30.,   25.,
         22.,   26.,   29.,   31.,   29.,   12.,   15.,   48.,   18.,
         25.,   27.,   25.,   21.,   28.,   24.,   21.,   29.,   35.,
          0.,    7.,   32.,   19.,   34.,   28.,   23.,   15.,   10.,
         15.,    9.,   78.,   59.,   29.,   23.,   12.,   36.,   13.,
         17.,   17.,   16.,   14.,    8.,   16.,   14.,   14.,   15.,
         20.,   24.,    8.,   15.,   17.,    9.,   17.,   13.,   19.,
          8.,   14.,   18.,   24.,   16.,   11.,   13.,   10.,   16.,
         11.,   22.,   15.,   18.,   11.,   14.,   34.,   10.,   13.,
         21.,   35.,   15.,    6.,   23.,   22.,   19.,   20.,   13.,
         21.,   10.,   11.,   11.,   16.,   12.,   15.,    8.,    0.,
         24.,   19.,   22.,   13.,   12.,   16.,    2.,   16.,   20.,
         12.,   11.,   22.,   20.,   16.,   17.,   97.,    0.,   23.,
        100.,   18.,   13.,   21.,   24.,   16.,   18.,   22.,   18.,
         11.,   24.,   22.,   20.,   22.,   26.,    0.,    0.,    5.,   31.])

In [ ]:
xy[:,-1]=MinMaxScaler(xy[:,-1])

In [131]:
tempxy=[list(txs['season']),list(txs['day_of_week']),list(txs['week_number']), list(txs['amount'])]

In [132]:
xy=np.array(tempxy)

In [133]:
xy

array([['0', '0', '0', ..., '0', '0', '0'],
       ['4', '5', '6', ..., '6', '0', '1'],
       ['53', '53', '53', ..., '04', '05', '05'],
       ['34', '41', '54', ..., '0', '5', '31']],
      dtype='<U21')

In [134]:
temp=xy.transpose()

In [135]:
temp

array([['0', '4', '53', '34'],
       ['0', '5', '53', '41'],
       ['0', '6', '53', '54'],
       ...,
       ['0', '6', '04', '0'],
       ['0', '0', '05', '5'],
       ['0', '1', '05', '31']],
      dtype='<U21')

In [138]:
temp=int(temp)

TypeError: only length-1 arrays can be converted to Python scalars

In [120]:
help

Type help() for interactive help, or help(object) for help about object.

In [137]:
help(np.array)

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, full, full_like

    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [111]:
np.shape(xy)

(4, 397)

In [113]:
xy[-1]

[34,
 41,
 54,
 41,
 35,
 44,
 50,
 42,
 42,
 66,
 50,
 55,
 56,
 53,
 44,
 54,
 54,
 50,
 40,
 49,
 28,
 72,
 71,
 53,
 43,
 38,
 55,
 49,
 43,
 49,
 49,
 44,
 39,
 52,
 45,
 33,
 43,
 40,
 46,
 49,
 50,
 37,
 37,
 45,
 48,
 48,
 38,
 60,
 31,
 35,
 53,
 70,
 62,
 48,
 51,
 49,
 38,
 32,
 39,
 35,
 30,
 36,
 31,
 31,
 44,
 41,
 41,
 45,
 46,
 45,
 41,
 47,
 48,
 40,
 42,
 38,
 38,
 45,
 48,
 62,
 46,
 38,
 62,
 81,
 40,
 45,
 42,
 53,
 53,
 56,
 53,
 47,
 61,
 64,
 62,
 37,
 65,
 54,
 44,
 46,
 50,
 43,
 53,
 63,
 52,
 2,
 0,
 0,
 72,
 59,
 75,
 47,
 44,
 77,
 90,
 93,
 47,
 61,
 77,
 282,
 50,
 58,
 33,
 41,
 36,
 64,
 49,
 53,
 60,
 43,
 41,
 55,
 45,
 18,
 60,
 69,
 54,
 39,
 50,
 44,
 54,
 57,
 82,
 57,
 44,
 56,
 51,
 55,
 28,
 56,
 54,
 36,
 12,
 25,
 41,
 11,
 6,
 9,
 230,
 29,
 24,
 23,
 14,
 21,
 20,
 25,
 23,
 27,
 31,
 16,
 14,
 30,
 32,
 75,
 35,
 26,
 12,
 21,
 23,
 28,
 25,
 31,
 21,
 17,
 10,
 29,
 34,
 28,
 20,
 36,
 23,
 15,
 42,
 28,
 24,
 29,
 20,
 14,
 18,
 27,
 22,
 31,
 24,
 39,
 31,
 17,
 42,
 29,
 33,
 22,
 39,
 25,
 23,
 25,
 21,
 18,
 24,
 24,
 20,
 9,
 31,
 33,
 33,
 31,
 27,
 570,
 15,
 25,
 32,
 29,
 32,
 21,
 92,
 19,
 37,
 29,
 33,
 16,
 22,
 25,
 21,
 46,
 34,
 31,
 22,
 30,
 28,
 14,
 25,
 33,
 28,
 24,
 42,
 26,
 19,
 41,
 34,
 8,
 0,
 0,
 11,
 16,
 27,
 27,
 21,
 37,
 41,
 23,
 30,
 25,
 22,
 26,
 29,
 31,
 29,
 12,
 15,
 48,
 18,
 25,
 27,
 25,
 21,
 28,
 24,
 21,
 29,
 121,
 0,
 7,
 32,
 19,
 34,
 28,
 23,
 15,
 10,
 15,
 9,
 78,
 59,
 29,
 23,
 12,
 36,
 13,
 17,
 17,
 16,
 14,
 8,
 16,
 14,
 14,
 15,
 20,
 24,
 8,
 15,
 17,
 9,
 17,
 13,
 19,
 8,
 14,
 18,
 24,
 16,
 11,
 13,
 10,
 16,
 11,
 22,
 15,
 18,
 11,
 14,
 34,
 10,
 13,
 21,
 35,
 15,
 6,
 23,
 22,
 19,
 20,
 13,
 21,
 10,
 11,
 11,
 16,
 12,
 15,
 8,
 0,
 24,
 19,
 22,
 13,
 12,
 16,
 2,
 16,
 20,
 12,
 11,
 22,
 20,
 16,
 17,
 97,
 0,
 23,
 100,
 18,
 13,
 21,
 24,
 16,
 18,
 22,
 18,
 11,
 24,
 22,
 20,
 22,
 26,
 0,
 0,
 5,
 31]

In [114]:
#train parameters
seq_length=7
data_dim=4
hidden_dim=10
output_dim=3
learning_rate=0.01
iterations=500
#기본형식
#기본 인자로는 ds-y로 받고 
#처리함수에서 ds를 받아서 'feature 처리모듈'에서 ds에서 요일(주중, 주말), 월(계절) + 날씨와 같은 추가 요인-값을 받는다.
# xy[:,3]=MinMaxScaler(xy[:,3])

x=xy
y=xy[-1]

#build a dataset
dataX=[]
dataY=[]
for i in range(0, len(y)-seq_length):
    _x=x[i:i+seq_length]
    _y=y[i+seq_length]
    print(_x,"->",_y)
    dataX.append(_x)
    dataY.append(_y)

# train/test split
train_size = int(len(dataY) * 0.7)
test_size = len(dataY) - train_size
trainX, testX = np.array(dataX[0:train_size]), np.array(dataX[train_size:])
trainY, testY = np.array(dataY[0:train_size]), np.array(dataY[train_size:])

#input place holders
X=tf.placeholder(tf.float32, [None, seq_length, data_dim])
Y=tf.placeholder(tf.float32, [None, 1])
# build a LSTM network(input: cell shape, type/ )
cell = tf.contrib.rnn.BasicLSTMCell(num_units=hidden_dim, state_is_tuple=True, activation=tf.tanh)
outputs, _states = tf.nn.dynamic_rnn(cell, X, dtype=tf.float32)

# use the last cell's output to calculate Y_pred
Y_pred = tf.contrib.layers.fully_connected(outputs[:, -1], output_dim, activation_fn=tf.tanh) 
# cost/loss
loss = tf.reduce_sum(tf.square(Y_pred - Y))  # sum of the squares
# optimizer
optimizer = tf.train.AdamOptimizer(learning_rate)
train = optimizer.minimize(loss)
# RMSE
targets = tf.placeholder(tf.float32, [None, 1])
predictions = tf.placeholder(tf.float32, [None, 1])
rmse = tf.sqrt(tf.reduce_mean(tf.square(targets - predictions)))
with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)

    # Training step
    for i in range(iterations):
        _, step_loss = sess.run([train, loss], feed_dict={
                                X: trainX, Y: trainY})
        print("[step: {}] loss: {}".format(i, step_loss))

    # Test step
    test_predict = sess.run(Y_pred, feed_dict={X: testX})
    rmse_val = sess.run(rmse, feed_dict={
                    targets: testY, predictions: test_predict})
    print("RMSE: {}".format(rmse_val))

    # Plot predictions
    plt.plot(testY)
    plt.plot(test_predict)
    plt.xlabel("Time Period")
    plt.ylabel("Stock Price")
    plt.show()

with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)

    # Training step
    for i in range(iterations):
        _, step_loss = sess.run([train, loss], feed_dict={
                                X: trainX, Y: trainY})
        print("[step: {}] loss: {}".format(i, step_loss))

    # Test step
    test_predict = sess.run(Y_pred, feed_dict={X: testX})
    rmse_val = sess.run(rmse, feed_dict={
                    targets: testY, predictions: test_predict})
    print("RMSE: {}".format(rmse_val))

    # Plot predictions
    plt.plot(testY)
    plt.plot(test_predict)
    plt.xlabel("Time Period")
    plt.ylabel("Stock Price")
    plt.show()

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1], ['53', '53', '53', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05', '06', '06', '06', '06', '06', '06', '06', '07', '07', '07', '07', '07', '07', '07', '08', '08', '08', '08', '08', '08', '08', '09', '09', '09', '09', '09', '09', '09', '10', '10', '10', '10', '10', '10', '10', '11', '11', '11', '11', '11', '11', '11', '12', '12', '12', '12', '12', '12', '12', '13', '13', '13', '13', '13', '13', '13', '14', '14', '14', '14', '14', '14', '14', '15', '15', '15', '15', '15', '15', '15', '16', '16', '16', '16', '16', '16', '16', '17', '17', '17', '17', '17', '17', '17', '18', '18', '18', '18', '18', '18', '18', '19', '19', '19', '19', '19', '19', '19', '20', '20', '20', '20', '20', '20', '20', '21', '21', '21', '21', '21', '21', '21', '22', '22', '22', '22', '22', '22', '22', '23', '23', '23', '23', '23', '23', '23', '24', '24', '24', '24', '24', '24', '24', '25', '25', '25', '25', '25', '25', '25', '26', '26', '26', '26', '26', '26', '26', '27', '27', '27', '27', '27', '27', '27', '28', '28', '28', '28', '28', '28', '28', '29', '29', '29', '29', '29', '29', '29', '30', '30', '30', '30', '30', '30', '30', '31', '31', '31', '31', '31', '31', '31', '32', '32', '32', '32', '32', '32', '32', '33', '33', '33', '33', '33', '33', '33', '34', '34', '34', '34', '34', '34', '34', '35', '35', '35', '35', '35', '35', '35', '36', '36', '36', '36', '36', '36', '36', '37', '37', '37', '37', '37', '37', '37', '38', '38', '38', '38', '38', '38', '38', '39', '39', '39', '39', '39', '39', '39', '40', '40', '40', '40', '40', '40', '40', '41', '41', '41', '41', '41', '41', '41', '42', '42', '42', '42', '42', '42', '42', '43', '43', '43', '43', '43', '43', '43', '44', '44', '44', '44', '44', '44', '44', '45', '45', '45', '45', '45', '45', '45', '46', '46', '46', '46', '46', '46', '46', '47', '47', '47', '47', '47', '47', '47', '48', '48', '48', '48', '48', '48', '48', '49', '49', '49', '49', '49', '49', '49', '50', '50', '50', '50', '50', '50', '50', '51', '51', '51', '51', '51', '51', '51', '52', '52', '52', '52', '52', '52', '52', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05'], [34, 41, 54, 41, 35, 44, 50, 42, 42, 66, 50, 55, 56, 53, 44, 54, 54, 50, 40, 49, 28, 72, 71, 53, 43, 38, 55, 49, 43, 49, 49, 44, 39, 52, 45, 33, 43, 40, 46, 49, 50, 37, 37, 45, 48, 48, 38, 60, 31, 35, 53, 70, 62, 48, 51, 49, 38, 32, 39, 35, 30, 36, 31, 31, 44, 41, 41, 45, 46, 45, 41, 47, 48, 40, 42, 38, 38, 45, 48, 62, 46, 38, 62, 81, 40, 45, 42, 53, 53, 56, 53, 47, 61, 64, 62, 37, 65, 54, 44, 46, 50, 43, 53, 63, 52, 2, 0, 0, 72, 59, 75, 47, 44, 77, 90, 93, 47, 61, 77, 282, 50, 58, 33, 41, 36, 64, 49, 53, 60, 43, 41, 55, 45, 18, 60, 69, 54, 39, 50, 44, 54, 57, 82, 57, 44, 56, 51, 55, 28, 56, 54, 36, 12, 25, 41, 11, 6, 9, 230, 29, 24, 23, 14, 21, 20, 25, 23, 27, 31, 16, 14, 30, 32, 75, 35, 26, 12, 21, 23, 28, 25, 31, 21, 17, 10, 29, 34, 28, 20, 36, 23, 15, 42, 28, 24, 29, 20, 14, 18, 27, 22, 31, 24, 39, 31, 17, 42, 29, 33, 22, 39, 25, 23, 25, 21, 18, 24, 24, 20, 9, 31, 33, 33, 31, 27, 570, 15, 25, 32, 29, 32, 21, 92, 19, 37, 29, 33, 16, 22, 25, 21, 46, 34, 31, 22, 30, 28, 14, 25, 33, 28, 24, 42, 26, 19, 41, 34, 8, 0, 0, 11, 16, 27, 27, 21, 37, 41, 23, 30, 25, 22, 26, 29, 31, 29, 12, 15, 48, 18, 25, 27, 25, 21, 28, 24, 21, 29, 121, 0, 7, 32, 19, 34, 28, 23, 15, 10, 15, 9, 78, 59, 29, 23, 12, 36, 13, 17, 17, 16, 14, 8, 16, 14, 14, 15, 20, 24, 8, 15, 17, 9, 17, 13, 19, 8, 14, 18, 24, 16, 11, 13, 10, 16, 11, 22, 15, 18, 11, 14, 34, 10, 13, 21, 35, 15, 6, 23, 22, 19, 20, 13, 21, 10, 11, 11, 16, 12, 15, 8, 0, 24, 19, 22, 13, 12, 16, 2, 16, 20, 12, 11, 22, 20, 16, 17, 97, 0, 23, 100, 18, 13, 21, 24, 16, 18, 22, 18, 11, 24, 22, 20, 22, 26, 0, 0, 5, 31]] -> 42
[[4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1], ['53', '53', '53', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05', '06', '06', '06', '06', '06', '06', '06', '07', '07', '07', '07', '07', '07', '07', '08', '08', '08', '08', '08', '08', '08', '09', '09', '09', '09', '09', '09', '09', '10', '10', '10', '10', '10', '10', '10', '11', '11', '11', '11', '11', '11', '11', '12', '12', '12', '12', '12', '12', '12', '13', '13', '13', '13', '13', '13', '13', '14', '14', '14', '14', '14', '14', '14', '15', '15', '15', '15', '15', '15', '15', '16', '16', '16', '16', '16', '16', '16', '17', '17', '17', '17', '17', '17', '17', '18', '18', '18', '18', '18', '18', '18', '19', '19', '19', '19', '19', '19', '19', '20', '20', '20', '20', '20', '20', '20', '21', '21', '21', '21', '21', '21', '21', '22', '22', '22', '22', '22', '22', '22', '23', '23', '23', '23', '23', '23', '23', '24', '24', '24', '24', '24', '24', '24', '25', '25', '25', '25', '25', '25', '25', '26', '26', '26', '26', '26', '26', '26', '27', '27', '27', '27', '27', '27', '27', '28', '28', '28', '28', '28', '28', '28', '29', '29', '29', '29', '29', '29', '29', '30', '30', '30', '30', '30', '30', '30', '31', '31', '31', '31', '31', '31', '31', '32', '32', '32', '32', '32', '32', '32', '33', '33', '33', '33', '33', '33', '33', '34', '34', '34', '34', '34', '34', '34', '35', '35', '35', '35', '35', '35', '35', '36', '36', '36', '36', '36', '36', '36', '37', '37', '37', '37', '37', '37', '37', '38', '38', '38', '38', '38', '38', '38', '39', '39', '39', '39', '39', '39', '39', '40', '40', '40', '40', '40', '40', '40', '41', '41', '41', '41', '41', '41', '41', '42', '42', '42', '42', '42', '42', '42', '43', '43', '43', '43', '43', '43', '43', '44', '44', '44', '44', '44', '44', '44', '45', '45', '45', '45', '45', '45', '45', '46', '46', '46', '46', '46', '46', '46', '47', '47', '47', '47', '47', '47', '47', '48', '48', '48', '48', '48', '48', '48', '49', '49', '49', '49', '49', '49', '49', '50', '50', '50', '50', '50', '50', '50', '51', '51', '51', '51', '51', '51', '51', '52', '52', '52', '52', '52', '52', '52', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05'], [34, 41, 54, 41, 35, 44, 50, 42, 42, 66, 50, 55, 56, 53, 44, 54, 54, 50, 40, 49, 28, 72, 71, 53, 43, 38, 55, 49, 43, 49, 49, 44, 39, 52, 45, 33, 43, 40, 46, 49, 50, 37, 37, 45, 48, 48, 38, 60, 31, 35, 53, 70, 62, 48, 51, 49, 38, 32, 39, 35, 30, 36, 31, 31, 44, 41, 41, 45, 46, 45, 41, 47, 48, 40, 42, 38, 38, 45, 48, 62, 46, 38, 62, 81, 40, 45, 42, 53, 53, 56, 53, 47, 61, 64, 62, 37, 65, 54, 44, 46, 50, 43, 53, 63, 52, 2, 0, 0, 72, 59, 75, 47, 44, 77, 90, 93, 47, 61, 77, 282, 50, 58, 33, 41, 36, 64, 49, 53, 60, 43, 41, 55, 45, 18, 60, 69, 54, 39, 50, 44, 54, 57, 82, 57, 44, 56, 51, 55, 28, 56, 54, 36, 12, 25, 41, 11, 6, 9, 230, 29, 24, 23, 14, 21, 20, 25, 23, 27, 31, 16, 14, 30, 32, 75, 35, 26, 12, 21, 23, 28, 25, 31, 21, 17, 10, 29, 34, 28, 20, 36, 23, 15, 42, 28, 24, 29, 20, 14, 18, 27, 22, 31, 24, 39, 31, 17, 42, 29, 33, 22, 39, 25, 23, 25, 21, 18, 24, 24, 20, 9, 31, 33, 33, 31, 27, 570, 15, 25, 32, 29, 32, 21, 92, 19, 37, 29, 33, 16, 22, 25, 21, 46, 34, 31, 22, 30, 28, 14, 25, 33, 28, 24, 42, 26, 19, 41, 34, 8, 0, 0, 11, 16, 27, 27, 21, 37, 41, 23, 30, 25, 22, 26, 29, 31, 29, 12, 15, 48, 18, 25, 27, 25, 21, 28, 24, 21, 29, 121, 0, 7, 32, 19, 34, 28, 23, 15, 10, 15, 9, 78, 59, 29, 23, 12, 36, 13, 17, 17, 16, 14, 8, 16, 14, 14, 15, 20, 24, 8, 15, 17, 9, 17, 13, 19, 8, 14, 18, 24, 16, 11, 13, 10, 16, 11, 22, 15, 18, 11, 14, 34, 10, 13, 21, 35, 15, 6, 23, 22, 19, 20, 13, 21, 10, 11, 11, 16, 12, 15, 8, 0, 24, 19, 22, 13, 12, 16, 2, 16, 20, 12, 11, 22, 20, 16, 17, 97, 0, 23, 100, 18, 13, 21, 24, 16, 18, 22, 18, 11, 24, 22, 20, 22, 26, 0, 0, 5, 31]] -> 42
[['53', '53', '53', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05', '06', '06', '06', '06', '06', '06', '06', '07', '07', '07', '07', '07', '07', '07', '08', '08', '08', '08', '08', '08', '08', '09', '09', '09', '09', '09', '09', '09', '10', '10', '10', '10', '10', '10', '10', '11', '11', '11', '11', '11', '11', '11', '12', '12', '12', '12', '12', '12', '12', '13', '13', '13', '13', '13', '13', '13', '14', '14', '14', '14', '14', '14', '14', '15', '15', '15', '15', '15', '15', '15', '16', '16', '16', '16', '16', '16', '16', '17', '17', '17', '17', '17', '17', '17', '18', '18', '18', '18', '18', '18', '18', '19', '19', '19', '19', '19', '19', '19', '20', '20', '20', '20', '20', '20', '20', '21', '21', '21', '21', '21', '21', '21', '22', '22', '22', '22', '22', '22', '22', '23', '23', '23', '23', '23', '23', '23', '24', '24', '24', '24', '24', '24', '24', '25', '25', '25', '25', '25', '25', '25', '26', '26', '26', '26', '26', '26', '26', '27', '27', '27', '27', '27', '27', '27', '28', '28', '28', '28', '28', '28', '28', '29', '29', '29', '29', '29', '29', '29', '30', '30', '30', '30', '30', '30', '30', '31', '31', '31', '31', '31', '31', '31', '32', '32', '32', '32', '32', '32', '32', '33', '33', '33', '33', '33', '33', '33', '34', '34', '34', '34', '34', '34', '34', '35', '35', '35', '35', '35', '35', '35', '36', '36', '36', '36', '36', '36', '36', '37', '37', '37', '37', '37', '37', '37', '38', '38', '38', '38', '38', '38', '38', '39', '39', '39', '39', '39', '39', '39', '40', '40', '40', '40', '40', '40', '40', '41', '41', '41', '41', '41', '41', '41', '42', '42', '42', '42', '42', '42', '42', '43', '43', '43', '43', '43', '43', '43', '44', '44', '44', '44', '44', '44', '44', '45', '45', '45', '45', '45', '45', '45', '46', '46', '46', '46', '46', '46', '46', '47', '47', '47', '47', '47', '47', '47', '48', '48', '48', '48', '48', '48', '48', '49', '49', '49', '49', '49', '49', '49', '50', '50', '50', '50', '50', '50', '50', '51', '51', '51', '51', '51', '51', '51', '52', '52', '52', '52', '52', '52', '52', '01', '01', '01', '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '04', '05', '05'], [34, 41, 54, 41, 35, 44, 50, 42, 42, 66, 50, 55, 56, 53, 44, 54, 54, 50, 40, 49, 28, 72, 71, 53, 43, 38, 55, 49, 43, 49, 49, 44, 39, 52, 45, 33, 43, 40, 46, 49, 50, 37, 37, 45, 48, 48, 38, 60, 31, 35, 53, 70, 62, 48, 51, 49, 38, 32, 39, 35, 30, 36, 31, 31, 44, 41, 41, 45, 46, 45, 41, 47, 48, 40, 42, 38, 38, 45, 48, 62, 46, 38, 62, 81, 40, 45, 42, 53, 53, 56, 53, 47, 61, 64, 62, 37, 65, 54, 44, 46, 50, 43, 53, 63, 52, 2, 0, 0, 72, 59, 75, 47, 44, 77, 90, 93, 47, 61, 77, 282, 50, 58, 33, 41, 36, 64, 49, 53, 60, 43, 41, 55, 45, 18, 60, 69, 54, 39, 50, 44, 54, 57, 82, 57, 44, 56, 51, 55, 28, 56, 54, 36, 12, 25, 41, 11, 6, 9, 230, 29, 24, 23, 14, 21, 20, 25, 23, 27, 31, 16, 14, 30, 32, 75, 35, 26, 12, 21, 23, 28, 25, 31, 21, 17, 10, 29, 34, 28, 20, 36, 23, 15, 42, 28, 24, 29, 20, 14, 18, 27, 22, 31, 24, 39, 31, 17, 42, 29, 33, 22, 39, 25, 23, 25, 21, 18, 24, 24, 20, 9, 31, 33, 33, 31, 27, 570, 15, 25, 32, 29, 32, 21, 92, 19, 37, 29, 33, 16, 22, 25, 21, 46, 34, 31, 22, 30, 28, 14, 25, 33, 28, 24, 42, 26, 19, 41, 34, 8, 0, 0, 11, 16, 27, 27, 21, 37, 41, 23, 30, 25, 22, 26, 29, 31, 29, 12, 15, 48, 18, 25, 27, 25, 21, 28, 24, 21, 29, 121, 0, 7, 32, 19, 34, 28, 23, 15, 10, 15, 9, 78, 59, 29, 23, 12, 36, 13, 17, 17, 16, 14, 8, 16, 14, 14, 15, 20, 24, 8, 15, 17, 9, 17, 13, 19, 8, 14, 18, 24, 16, 11, 13, 10, 16, 11, 22, 15, 18, 11, 14, 34, 10, 13, 21, 35, 15, 6, 23, 22, 19, 20, 13, 21, 10, 11, 11, 16, 12, 15, 8, 0, 24, 19, 22, 13, 12, 16, 2, 16, 20, 12, 11, 22, 20, 16, 17, 97, 0, 23, 100, 18, 13, 21, 24, 16, 18, 22, 18, 11, 24, 22, 20, 22, 26, 0, 0, 5, 31]] -> 66
[[34, 41, 54, 41, 35, 44, 50, 42, 42, 66, 50, 55, 56, 53, 44, 54, 54, 50, 40, 49, 28, 72, 71, 53, 43, 38, 55, 49, 43, 49, 49, 44, 39, 52, 45, 33, 43, 40, 46, 49, 50, 37, 37, 45, 48, 48, 38, 60, 31, 35, 53, 70, 62, 48, 51, 49, 38, 32, 39, 35, 30, 36, 31, 31, 44, 41, 41, 45, 46, 45, 41, 47, 48, 40, 42, 38, 38, 45, 48, 62, 46, 38, 62, 81, 40, 45, 42, 53, 53, 56, 53, 47, 61, 64, 62, 37, 65, 54, 44, 46, 50, 43, 53, 63, 52, 2, 0, 0, 72, 59, 75, 47, 44, 77, 90, 93, 47, 61, 77, 282, 50, 58, 33, 41, 36, 64, 49, 53, 60, 43, 41, 55, 45, 18, 60, 69, 54, 39, 50, 44, 54, 57, 82, 57, 44, 56, 51, 55, 28, 56, 54, 36, 12, 25, 41, 11, 6, 9, 230, 29, 24, 23, 14, 21, 20, 25, 23, 27, 31, 16, 14, 30, 32, 75, 35, 26, 12, 21, 23, 28, 25, 31, 21, 17, 10, 29, 34, 28, 20, 36, 23, 15, 42, 28, 24, 29, 20, 14, 18, 27, 22, 31, 24, 39, 31, 17, 42, 29, 33, 22, 39, 25, 23, 25, 21, 18, 24, 24, 20, 9, 31, 33, 33, 31, 27, 570, 15, 25, 32, 29, 32, 21, 92, 19, 37, 29, 33, 16, 22, 25, 21, 46, 34, 31, 22, 30, 28, 14, 25, 33, 28, 24, 42, 26, 19, 41, 34, 8, 0, 0, 11, 16, 27, 27, 21, 37, 41, 23, 30, 25, 22, 26, 29, 31, 29, 12, 15, 48, 18, 25, 27, 25, 21, 28, 24, 21, 29, 121, 0, 7, 32, 19, 34, 28, 23, 15, 10, 15, 9, 78, 59, 29, 23, 12, 36, 13, 17, 17, 16, 14, 8, 16, 14, 14, 15, 20, 24, 8, 15, 17, 9, 17, 13, 19, 8, 14, 18, 24, 16, 11, 13, 10, 16, 11, 22, 15, 18, 11, 14, 34, 10, 13, 21, 35, 15, 6, 23, 22, 19, 20, 13, 21, 10, 11, 11, 16, 12, 15, 8, 0, 24, 19, 22, 13, 12, 16, 2, 16, 20, 12, 11, 22, 20, 16, 17, 97, 0, 23, 100, 18, 13, 21, 24, 16, 18, 22, 18, 11, 24, 22, 20, 22, 26, 0, 0, 5, 31]] -> 50
[] -> 55
[] -> 56
[] -> 53
[] -> 44
[] -> 54
[] -> 54
[] -> 50
[] -> 40
[] -> 49
[] -> 28
[] -> 72
[] -> 71
[] -> 53
[] -> 43
[] -> 38
[] -> 55
[] -> 49
[] -> 43
[] -> 49
[] -> 49
[] -> 44
[] -> 39
[] -> 52
[] -> 45
[] -> 33
[] -> 43
[] -> 40
[] -> 46
[] -> 49
[] -> 50
[] -> 37
[] -> 37
[] -> 45
[] -> 48
[] -> 48
[] -> 38
[] -> 60
[] -> 31
[] -> 35
[] -> 53
[] -> 70
[] -> 62
[] -> 48
[] -> 51
[] -> 49
[] -> 38
[] -> 32
[] -> 39
[] -> 35
[] -> 30
[] -> 36
[] -> 31
[] -> 31
[] -> 44
[] -> 41
[] -> 41
[] -> 45
[] -> 46
[] -> 45
[] -> 41
[] -> 47
[] -> 48
[] -> 40
[] -> 42
[] -> 38
[] -> 38
[] -> 45
[] -> 48
[] -> 62
[] -> 46
[] -> 38
[] -> 62
[] -> 81
[] -> 40
[] -> 45
[] -> 42
[] -> 53
[] -> 53
[] -> 56
[] -> 53
[] -> 47
[] -> 61
[] -> 64
[] -> 62
[] -> 37
[] -> 65
[] -> 54
[] -> 44
[] -> 46
[] -> 50
[] -> 43
[] -> 53
[] -> 63
[] -> 52
[] -> 2
[] -> 0
[] -> 0
[] -> 72
[] -> 59
[] -> 75
[] -> 47
[] -> 44
[] -> 77
[] -> 90
[] -> 93

[] -> 47
[] -> 61
[] -> 77
[] -> 282
[] -> 50
[] -> 58
[] -> 33
[] -> 41
[] -> 36
[] -> 64
[] -> 49
[] -> 53
[] -> 60
[] -> 43
[] -> 41
[] -> 55
[] -> 45
[] -> 18
[] -> 60
[] -> 69
[] -> 54
[] -> 39
[] -> 50
[] -> 44
[] -> 54
[] -> 57
[] -> 82
[] -> 57
[] -> 44
[] -> 56
[] -> 51
[] -> 55
[] -> 28
[] -> 56
[] -> 54
[] -> 36
[] -> 12
[] -> 25
[] -> 41
[] -> 11
[] -> 6
[] -> 9
[] -> 230
[] -> 29
[] -> 24
[] -> 23
[] -> 14
[] -> 21
[] -> 20
[] -> 25
[] -> 23
[] -> 27
[] -> 31
[] -> 16
[] -> 14
[] -> 30
[] -> 32
[] -> 75
[] -> 35
[] -> 26
[] -> 12
[] -> 21
[] -> 23
[] -> 28
[] -> 25
[] -> 31
[] -> 21
[] -> 17
[] -> 10
[] -> 29
[] -> 34
[] -> 28
[] -> 20
[] -> 36
[] -> 23
[] -> 15
[] -> 42
[] -> 28
[] -> 24
[] -> 29
[] -> 20
[] -> 14
[] -> 18
[] -> 27
[] -> 22
[] -> 31
[] -> 24
[] -> 39
[] -> 31
[] -> 17
[] -> 42
[] -> 29
[] -> 33
[] -> 22
[] -> 39
[] -> 25
[] -> 23
[] -> 25
[] -> 21
[] -> 18
[] -> 24
[] -> 24
[] -> 20
[] -> 9
[] -> 31
[] -> 33
[] -> 33
[] -> 31
[] -> 27
[] -> 570
[] -> 15
[] -> 25
[] -> 32
[] -> 29
[] -> 32
[] -> 21
[] -> 92
[] -> 19
[] -> 37
[] -> 29
[] -> 33
[] -> 16
[] -> 22
[] -> 25
[] -> 21
[] -> 46
[] -> 34
[] -> 31
[] -> 22
[] -> 30
[] -> 28
[] -> 14
[] -> 25
[] -> 33
[] -> 28
[] -> 24
[] -> 42
[] -> 26
[] -> 19
[] -> 41
[] -> 34
[] -> 8
[] -> 0
[] -> 0
[] -> 11
[] -> 16
[] -> 27
[] -> 27
[] -> 21
[] -> 37
[] -> 41
[] -> 23
[] -> 30
[] -> 25
[] -> 22
[] -> 26
[] -> 29
[] -> 31
[] -> 29
[] -> 12
[] -> 15
[] -> 48
[] -> 18
[] -> 25
[] -> 27
[] -> 25
[] -> 21
[] -> 28
[] -> 24
[] -> 21
[] -> 29
[] -> 121
[] -> 0
[] -> 7
[] -> 32
[] -> 19
[] -> 34
[] -> 28
[] -> 23
[] -> 15
[] -> 10
[] -> 15
[] -> 9
[] -> 78
[] -> 59
[] -> 29
[] -> 23
[] -> 12
[] -> 36
[] -> 13
[] -> 17
[] -> 17
[] -> 16
[] -> 14
[] -> 8
[] -> 16
[] -> 14
[] -> 14
[] -> 15
[] -> 20
[] -> 24
[] -> 8
[] -> 15
[] -> 17
[] -> 9
[] -> 17
[] -> 13
[] -> 19
[] -> 8
[] -> 14
[] -> 18
[] -> 24
[] -> 16
[] -> 11
[] -> 13
[] -> 10
[] -> 16
[] -> 11
[] -> 22
[] -> 15
[] -> 18
[] -> 11
[] -> 14
[] -> 34
[] -> 10
[] -> 13
[] -> 21
[] -> 35
[] -> 15
[] -> 6
[] -> 23
[] -> 22
[] -> 19
[] -> 20
[] -> 13
[] -> 21
[] -> 10
[] -> 11
[] -> 11
[] -> 16
[] -> 12
[] -> 15
[] -> 8
[] -> 0
[] -> 24
[] -> 19
[] -> 22
[] -> 13
[] -> 12
[] -> 16
[] -> 2
[] -> 16
[] -> 20
[] -> 12
[] -> 11
[] -> 22
[] -> 20
[] -> 16
[] -> 17
[] -> 97
[] -> 0
[] -> 23
[] -> 100
[] -> 18
[] -> 13
[] -> 21
[] -> 24
[] -> 16
[] -> 18
[] -> 22
[] -> 18
[] -> 11
[] -> 24
[] -> 22
[] -> 20
[] -> 22
[] -> 26
[] -> 0
[] -> 0
[] -> 5
[] -> 31

ValueError: setting an array element with a sequence.

In [ ]:
np.mean(xy[:,1])