In [1]:
import tensorflow as tf
import numpy as np
import matplotlib
import os
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime  
import pandas as pd
import numpy as np
from fbprophet import Prophet
tf.set_random_seed(77)

In [3]:
columns=['date','sales']
txsWalmart=pd.read_table('lstmPrac11.csv', sep=',',header=None,names=columns )
#이건 왜 이래야 하는지 잘 모르겠음
txsWeb=pd.read_table('../data/example_wp_peyton_manning.csv', sep=',',header=0,names=columns)

In [ ]:
year = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year  
month = lambda x: datetime.strptime(x, "%Y-%m-%d" ).month

week_number = lambda x: datetime.strptime(x, "%Y-%m-%d" ).strftime('%V')
txs['year'] = txs['date'].map(year)
txs['month']=txs['date'].map(month)
txs['week_number']=txs['date'].map(week_number)

seasons = [0,0,1,1,1,2,2,2,3,3,3,0] #dec - feb is winter, then spring, summer, fall etc
season = lambda x: seasons[(datetime.strptime(x, "%Y-%m-%d" ).month-1)]

#     monthYear= lambda x: datetime.strptime(x, "%Y-%m-%d" ).year*1000 +datetime.strptime(x, "%Y-%m-%d" ).month
    # weekYear = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year*1000 
txs['season']=txs['date'].map(season)

In [9]:
def txsAug(txs):
    year = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year  
    month = lambda x: datetime.strptime(x, "%Y-%m-%d" ).month

    week_number = lambda x: datetime.strptime(x, "%Y-%m-%d" ).strftime('%V')
    txs['year'] = txs['date'].map(year)
    txs['month']=txs['date'].map(month)
    txs['week_number']=txs['date'].map(week_number)

    seasons = [0,0,1,1,1,2,2,2,3,3,3,0] #dec - feb is winter, then spring, summer, fall etc
    season = lambda x: seasons[(datetime.strptime(x, "%Y-%m-%d" ).month-1)]

#     monthYear= lambda x: datetime.strptime(x, "%Y-%m-%d" ).year*1000 +datetime.strptime(x, "%Y-%m-%d" ).month
    # weekYear = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year*1000 
    txs['season']=txs['date'].map(season)
#     txs['monthYear']=txs['date'].map(monthYear)
    # txs['weekYear']=txs['date'].map(weekYear)
    return txs

In [10]:
txsAug(txsWeb)

            date  sales  year  month week_number  season
0     2007-12-10  14629  2007     12          50       0
1     2007-12-11   5012  2007     12          50       0
2     2007-12-12   3582  2007     12          50       0
3     2007-12-13   3205  2007     12          50       0
4     2007-12-14   2680  2007     12          50       0
5     2007-12-15   2401  2007     12          50       0
6     2007-12-16   4510  2007     12          50       0
7     2007-12-17   6831  2007     12          51       0
8     2007-12-18   4370  2007     12          51       0
9     2007-12-19   3196  2007     12          51       0
10    2007-12-20   2642  2007     12          51       0
11    2007-12-21   2349  2007     12          51       0
12    2007-12-22   1862  2007     12          51       0
13    2007-12-23   4382  2007     12          51       0
14    2007-12-24   5542  2007     12          52       0
15    2007-12-25   2572  2007     12          52       0
16    2007-12-26   2576  2007     12          52       0
17    2007-12-27   3140  2007     12          52       0
18    2007-12-28   2770  2007     12          52       0
19    2007-12-29   2536  2007     12          52       0
20    2007-12-30  16369  2007     12          52       0
21    2007-12-31  11920  2007     12          01       0
22    2008-01-01   3999  2008      1          01       0
23    2008-01-02   4604  2008      1          01       0
24    2008-01-03   3874  2008      1          01       0
25    2008-01-04   3317  2008      1          01       0
26    2008-01-05   2836  2008      1          01       0
27    2008-01-06  13484  2008      1          01       0
28    2008-01-07   6952  2008      1          02       0
29    2008-01-08   4585  2008      1          02       0
...          ...    ...   ...    ...         ...     ...
2875  2015-12-22   3329  2015     12          52       0
2876  2015-12-23   2381  2015     12          52       0
2877  2015-12-24   1552  2015     12          52       0
2878  2015-12-25   1483  2015     12          52       0
2879  2015-12-26   1237  2015     12          52       0
2880  2015-12-27   7178  2015     12          52       0
2881  2015-12-28  10411  2015     12          53       0
2882  2015-12-29  10383  2015     12          53       0
2883  2015-12-30   4409  2015     12          53       0
2884  2015-12-31   2995  2015     12          53       0
2885  2016-01-01   1977  2016      1          53       0
2886  2016-01-02   2503  2016      1          53       0
2887  2016-01-03   3825  2016      1          53       0
2888  2016-01-04  10885  2016      1          01       0
2889  2016-01-05   5262  2016      1          01       0
2890  2016-01-06   4241  2016      1          01       0
2891  2016-01-07   4007  2016      1          01       0
2892  2016-01-08   3985  2016      1          01       0
2893  2016-01-09   2406  2016      1          01       0
2894  2016-01-10   3951  2016      1          01       0
2895  2016-01-11   4773  2016      1          02       0
2896  2016-01-12   3412  2016      1          02       0
2897  2016-01-13   3188  2016      1          02       0
2898  2016-01-14   3052  2016      1          02       0
2899  2016-01-15   3047  2016      1          02       0
2900  2016-01-16   2483  2016      1          02       0
2901  2016-01-17  10656  2016      1          02       0
2902  2016-01-18  30754  2016      1          03       0
2903  2016-01-19   9190  2016      1          03       0
2904  2016-01-20   7269  2016      1          03       0

[2905 rows x 6 columns]

In [11]:
txsAug(txsWalmart)

           date     sales  year  month week_number  season
0    2010-02-05  24924.50  2010      2          05       0
1    2010-02-12  46039.49  2010      2          06       0
2    2010-02-19  41595.55  2010      2          07       0
3    2010-02-26  19403.54  2010      2          08       0
4    2010-03-05  21827.90  2010      3          09       1
5    2010-03-12  21043.39  2010      3          10       1
6    2010-03-19  22136.64  2010      3          11       1
7    2010-03-26  26229.21  2010      3          12       1
8    2010-04-02  57258.43  2010      4          13       1
9    2010-04-09  42960.91  2010      4          14       1
10   2010-04-16  17596.96  2010      4          15       1
11   2010-04-23  16145.35  2010      4          16       1
12   2010-04-30  16555.11  2010      4          17       1
13   2010-05-07  17413.94  2010      5          18       1
14   2010-05-14  18926.74  2010      5          19       1
15   2010-05-21  14773.04  2010      5          20       1
16   2010-05-28  15580.43  2010      5          21       1
17   2010-06-04  17558.09  2010      6          22       2
18   2010-06-11  16637.62  2010      6          23       2
19   2010-06-18  16216.27  2010      6          24       2
20   2010-06-25  16328.72  2010      6          25       2
21   2010-07-02  16333.14  2010      7          26       2
22   2010-07-09  17688.76  2010      7          27       2
23   2010-07-16  17150.84  2010      7          28       2
24   2010-07-23  15360.45  2010      7          29       2
25   2010-07-30  15381.82  2010      7          30       2
26   2010-08-06  17508.41  2010      8          31       2
27   2010-08-13  15536.40  2010      8          32       2
28   2010-08-20  15740.13  2010      8          33       2
29   2010-08-27  15793.87  2010      8          34       2
..          ...       ...   ...    ...         ...     ...
113  2012-04-06  57592.12  2012      4          14       1
114  2012-04-13  34684.21  2012      4          15       1
115  2012-04-20  16976.19  2012      4          16       1
116  2012-04-27  16347.60  2012      4          17       1
117  2012-05-04  17147.44  2012      5          18       1
118  2012-05-11  18164.20  2012      5          19       1
119  2012-05-18  18517.79  2012      5          20       1
120  2012-05-25  16963.55  2012      5          21       1
121  2012-06-01  16065.49  2012      6          22       2
122  2012-06-08  17666.00  2012      6          23       2
123  2012-06-15  17558.82  2012      6          24       2
124  2012-06-22  16633.41  2012      6          25       2
125  2012-06-29  15722.82  2012      6          26       2
126  2012-07-06  17823.37  2012      7          27       2
127  2012-07-13  16566.18  2012      7          28       2
128  2012-07-20  16348.06  2012      7          29       2
129  2012-07-27  15731.18  2012      7          30       2
130  2012-08-03  16628.31  2012      8          31       2
131  2012-08-10  16119.92  2012      8          32       2
132  2012-08-17  17330.70  2012      8          33       2
133  2012-08-24  16286.40  2012      8          34       2
134  2012-08-31  16680.24  2012      8          35       2
135  2012-09-07  18322.37  2012      9          36       3
136  2012-09-14  19616.22  2012      9          37       3
137  2012-09-21  19251.50  2012      9          38       3
138  2012-09-28  18947.81  2012      9          39       3
139  2012-10-05  21904.47  2012     10          40       3
140  2012-10-12  22764.01  2012     10          41       3
141  2012-10-19  24185.27  2012     10          42       3
142  2012-10-26  27390.81  2012     10          43       3

[143 rows x 6 columns]

In [27]:
txsAug(txsWeb)

            date  sales  year  month week_number  season
0     2007-12-10  14629  2007     12          50       0
1     2007-12-11   5012  2007     12          50       0
2     2007-12-12   3582  2007     12          50       0
3     2007-12-13   3205  2007     12          50       0
4     2007-12-14   2680  2007     12          50       0
5     2007-12-15   2401  2007     12          50       0
6     2007-12-16   4510  2007     12          50       0
7     2007-12-17   6831  2007     12          51       0
8     2007-12-18   4370  2007     12          51       0
9     2007-12-19   3196  2007     12          51       0
10    2007-12-20   2642  2007     12          51       0
11    2007-12-21   2349  2007     12          51       0
12    2007-12-22   1862  2007     12          51       0
13    2007-12-23   4382  2007     12          51       0
14    2007-12-24   5542  2007     12          52       0
15    2007-12-25   2572  2007     12          52       0
16    2007-12-26   2576  2007     12          52       0
17    2007-12-27   3140  2007     12          52       0
18    2007-12-28   2770  2007     12          52       0
19    2007-12-29   2536  2007     12          52       0
20    2007-12-30  16369  2007     12          52       0
21    2007-12-31  11920  2007     12          01       0
22    2008-01-01   3999  2008      1          01       0
23    2008-01-02   4604  2008      1          01       0
24    2008-01-03   3874  2008      1          01       0
25    2008-01-04   3317  2008      1          01       0
26    2008-01-05   2836  2008      1          01       0
27    2008-01-06  13484  2008      1          01       0
28    2008-01-07   6952  2008      1          02       0
29    2008-01-08   4585  2008      1          02       0
...          ...    ...   ...    ...         ...     ...
2875  2015-12-22   3329  2015     12          52       0
2876  2015-12-23   2381  2015     12          52       0
2877  2015-12-24   1552  2015     12          52       0
2878  2015-12-25   1483  2015     12          52       0
2879  2015-12-26   1237  2015     12          52       0
2880  2015-12-27   7178  2015     12          52       0
2881  2015-12-28  10411  2015     12          53       0
2882  2015-12-29  10383  2015     12          53       0
2883  2015-12-30   4409  2015     12          53       0
2884  2015-12-31   2995  2015     12          53       0
2885  2016-01-01   1977  2016      1          53       0
2886  2016-01-02   2503  2016      1          53       0
2887  2016-01-03   3825  2016      1          53       0
2888  2016-01-04  10885  2016      1          01       0
2889  2016-01-05   5262  2016      1          01       0
2890  2016-01-06   4241  2016      1          01       0
2891  2016-01-07   4007  2016      1          01       0
2892  2016-01-08   3985  2016      1          01       0
2893  2016-01-09   2406  2016      1          01       0
2894  2016-01-10   3951  2016      1          01       0
2895  2016-01-11   4773  2016      1          02       0
2896  2016-01-12   3412  2016      1          02       0
2897  2016-01-13   3188  2016      1          02       0
2898  2016-01-14   3052  2016      1          02       0
2899  2016-01-15   3047  2016      1          02       0
2900  2016-01-16   2483  2016      1          02       0
2901  2016-01-17  10656  2016      1          02       0
2902  2016-01-18  30754  2016      1          03       0
2903  2016-01-19   9190  2016      1          03       0
2904  2016-01-20   7269  2016      1          03       0

[2905 rows x 6 columns]

In [35]:
def txsAvg(txs):
    gYear=txs.groupby(['year'])
    yearly_avgs= gYear.aggregate({"sales":np.mean})
    gMonth=txs.groupby(['year','month'])
    monthly_avgs= gMonth.aggregate({"sales":np.mean})
    gWeek=txs.groupby(['year','week_number'])
    weekly_avgs=gWeek.aggregate({"sales": np.mean})
    return yearly_avgs,monthly_avgs,weekly_avgs

In [65]:
txsAvg(txsWeb)[0]

             sales
year
2007   4958.000000
2008   3605.854599
2009   3658.224719
2010   6045.610169
2011   5077.495845
2012  10547.843836
2013   6035.615385
2014   7406.077135
2015   3795.589532
2016   6043.300000

In [61]:
WebWeek=list(txsWeb['sales'])

In [63]:
len(WebWeek)

2905

In [55]:
series=pd.Series(txsWeb['sales'])
df = pd.DataFrame({'s':series})
df

          s
0     14629
1      5012
2      3582
3      3205
4      2680
5      2401
6      4510
7      6831
8      4370
9      3196
10     2642
11     2349
12     1862
13     4382
14     5542
15     2572
16     2576
17     3140
18     2770
19     2536
20    16369
21    11920
22     3999
23     4604
24     3874
25     3317
26     2836
27    13484
28     6952
29     4585
...     ...
2875   3329
2876   2381
2877   1552
2878   1483
2879   1237
2880   7178
2881  10411
2882  10383
2883   4409
2884   2995
2885   1977
2886   2503
2887   3825
2888  10885
2889   5262
2890   4241
2891   4007
2892   3985
2893   2406
2894   3951
2895   4773
2896   3412
2897   3188
2898   3052
2899   3047
2900   2483
2901  10656
2902  30754
2903   9190
2904   7269

[2905 rows x 1 columns]

In [57]:
df.asfreq(freq='7D')

             s
1970-01-01 NaN

In [60]:
i=0
while(i<len(WebWeek)-7):
    sum=0
    for j in range(7):
        sum=sum+WebWeek[i]
    print(sum/7)
    i=i+7

14629.0
6831.0
5542.0
11920.0
6952.0
25011.0
54025.0
6226.0
41576.0
3698.0
2413.0
1946.0
1610.0
1133.0
1099.0
1087.0
1441.0
1220.0
1421.0
2515.0
1180.0
1230.0
1085.0
930.0
959.0
975.0
1370.0
1057.0
923.0
1803.0
1408.0
1847.0
1623.0
1958.0
2054.0
3560.0
5193.0
3825.0
2756.0
3299.0
3560.0
3215.0
6680.0
3106.0
2799.0
2362.0
3620.0
2683.0
2588.0
2499.0
2971.0
4088.0
4602.0
4965.0
2514.0
2415.0
3172.0
2032.0
1681.0
1942.0
1654.0
1487.0
1469.0
2630.0
1775.0
1671.0
1595.0
1831.0
1972.0
1775.0
1828.0
1659.0
1730.0
1765.0
1533.0
1826.0
1337.0
1339.0
1778.0
1506.0
1763.0
2036.0
2549.0
2395.0
4464.0
3546.0
3103.0
3390.0
5012.0
26370.0
2668.0
4073.0
5138.0
5315.0
5240.0
5394.0
6197.0
5774.0
5352.0
4444.0
5362.0
4927.0
4388.0
4743.0
5511.0
7608.0
10183.0
22039.0
3892.0
2608.0
2381.0
2329.0
2153.0
2023.0
1822.0
2937.0
1837.0
2097.0
2989.0
2085.0
2010.0
1761.0
1649.0
1232.0
2795.0
193.0
1348.0
1258.0
1185.0
1444.0
2835.0
3413.0
3432.0
3947.0
4631.0
3597.0
3722.0
10623.0
91684.0
12285.0
11038.0
6982.0
23749.0
7054.0
9229.0
13675.0
10000.0
25892.0
28456.0
20386.0
9218.0
9097.0
11846.0
21893.0
11881.0
11471.0
14049.0
8725.0
17626.0
3056.0
2622.0
2407.0
2315.0
1855.0
1659.0
1974.0
1683.0
3367.0
2974.0
3064.0
2430.0
1763.0
1884.0
1785.0
1642.0
1776.0
1720.0
1856.0
1933.0
2823.0
2390.0
2330.0
2662.0
7691.0
3038.0
3319.0
6160.0
4684.0
9437.0
11476.0
13661.0
9572.0
14140.0
6030.0
6109.0
6375.0
5730.0
4727.0
4625.0
4271.0
6613.0
8282.0
5082.0
4286.0
4693.0
4923.0
6163.0
16788.0
19841.0
26568.0
20450.0
6080.0
5670.0
4117.0
44044.0
25359.0
11802.0
4074.0
3180.0
5732.0
3158.0
10641.0
3149.0
2229.0
1769.0
1766.0
2117.0
2810.0
1881.0
1933.0
1549.0
2011.0
4381.0
2401.0
3967.0
3364.0
5781.0
4168.0
6257.0
4781.0
6509.0
6287.0
4713.0
4120.0
5167.0
3796.0
3830.0
5081.0
4716.0
3948.0
3393.0
4429.0
5731.0
6234.0
3988.0
3687.0
5078.0
10297.0
37868.0
4696.0
4715.0
5166.0
3271.0
2484.0
2330.0
2307.0
1971.0
2573.0
2518.0
2364.0
1708.0
1585.0
1498.0
2916.0
1740.0
1430.0
1414.0
1131.0
1557.0
1471.0
1509.0
1467.0
1435.0
1228.0
1537.0
1666.0
5066.0
1858.0
2511.0
3473.0
4790.0
6022.0
9421.0
33389.0
6198.0
15794.0
21022.0
8584.0
9981.0
8608.0
4443.0
5292.0
7375.0
6223.0
6784.0
7467.0
8321.0
13613.0
10939.0
5446.0
81435.0
159019.0
25315.0
379552.0
4529.0
2528.0
2447.0
2612.0
1908.0
1989.0
3272.0
1698.0
1718.0
1576.0
1836.0
2196.0
3427.0
2613.0
2725.0
1380.0
1654.0
1330.0
1584.0
1774.0
2260.0
1282.0
1472.0
1718.0
3689.0
3908.0
4331.0
3946.0
4257.0
3840.0
23388.0
9862.0
4642.0
6011.0
6943.0
4921.0
14877.0
6376.0
8596.0
4371.0
3832.0
3695.0
3972.0
4409.0
4881.0
8609.0
4076.0
5792.0
17330.0
7724.0
4038.0
10649.0
3486.0
2450.0
2201.0
2429.0
2171.0
1559.0
2237.0
1358.0
1202.0
1536.0
1944.0
1743.0
2293.0
1771.0
1262.0
1657.0
1293.0
1010.0
1102.0
1547.0
890.0
1094.0
1338.0
1762.0
1400.0
1438.0
1915.0
2059.0
2368.0
2133.0
3229.0
3204.0
3006.0
3444.0
2442.0
2299.0
2790.0
2408.0
2955.0
2866.0
3514.0
2624.0
3153.0
3867.0
1982.0
1552.0
2995.0
4007.0

In [48]:
i=0
for j in range(len(WebWeek)):
    avg=0
    avg=np.average(WebWeek[i],WebWeek[i+1],WebWeek[i+2],np.average(WebWeek[i+3],WebWeek[i+4],WebWeek[i+5],WebWeek[i+6]))
    print(avg)
    i=i+7

AxisError: axis 2680 is out of bounds for array of dimension 0

In [37]:
len((txsAvg(txsWeb)[2]['sales']))

425

In [38]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 3):

    print(txsAvg(txsWeb)[2]['sales'])

year  week_number
2007  01             11920.000000
      50              5145.571429
      51              3661.714286
      52              5072.142857
2008  01              5051.111111
      02              6984.571429
      03              8295.857143
      04             13430.000000
      05              7646.666667
      06             38150.571429
      07              3163.428571
      08              2252.000000
      09              1874.800000
      10              2523.200000
      11              1667.428571
      12              1414.714286
      13              1624.428571
      14              1530.000000
      15              1907.714286
      16              2042.714286
      17              3117.142857
      18              1797.000000
      19              1529.857143
      20              1453.571429
      21              1393.571429
      22              1268.333333
      23              1262.666667
      24              1201.857143
      25              1353.571429
      26              1181.285714
      27              1132.166667
      28              1484.666667
      31              1440.000000
      32              2500.000000
      33              1648.285714
      34              2095.285714
      35              2441.857143
      36              2970.714286
      37              4212.142857
      38              2754.428571
      39              2736.714286
      40              2248.000000
      41              2593.571429
      42              2924.285714
      43              2407.000000
      44              2835.857143
      45              3320.857143
      46              2836.000000
      47              2206.857143
      48              3588.285714
      49              2692.000000
      50              2386.285714
      51              3380.285714
      52              2794.285714
2009  01             10968.500000
      02              5566.714286
      03              3587.571429
      04              2847.000000
      05              2748.571429
      06              3957.285714
      07              2106.428571
      08              1535.857143
      09              1748.571429
      10              1574.142857
      11              1625.000000
      12              1414.428571
      13              1768.285714
      14              1715.285714
      15              1439.857143
      16              1557.000000
      17              2077.285714
      18              1911.285714
      19              1588.285714
      20              1500.857143
      21              1470.000000
      22              1352.428571
      23              1417.571429
      24              1411.000000
      25              1473.571429
      26              1230.714286
      27              1477.285714
      28              1703.142857
      29              1524.857143
      30              1934.142857
      31              1800.142857
      32              2722.000000
      33              2535.857143
      34              3560.857143
      35              2848.428571
      36              2973.571429
      37              3831.857143
      38              3940.428571
      39             15868.000000
      40              7074.714286
      41              6534.000000
      42             13180.000000
      43              4800.857143
      44              5333.571429
      45              4382.714286
      46              5262.000000
      47             11302.500000
      48              6674.714286
      49              6904.142857
      50              6423.714286
      51              9822.857143
      52              7079.714286
      53              8295.750000
2010  01              6505.285714
      02             14205.142857
      03             10278.800000
      04             26766.142857
      05             30194.428571
      06             12482.166667
      07              3046.571429
      08              2770.000000
      09              2942.428571
      10              2064.428571
      11              1999.000000
      12              2228.714286
      13              1822.857143
      14              2135.857143
      15              2042.000000
      16              3568.285714
      17              2526.857143
      18              2063.714286
      19              1753.857143
      20              1614.428571
      21              1399.857143
      22              1530.000000
      23              2127.571429
      24               986.285714
      25              1005.666667
      26              1153.500000
      27              1407.500000
      28              1528.000000
      29              2061.571429
      30              2564.714286
      31              3634.000000
      32              3123.428571
      33              4771.714286
      34              4170.857143
      35              3586.714286
      36              7407.428571
      37              8183.000000
      38             18907.714286
      39              6321.285714
      40              6527.571429
      41              6857.285714
      42              7124.000000
      43              8179.571429
      44              9691.857143
      45              6226.571429
      46              7282.857143
      47              9096.571429
      48              9219.428571
      49             10455.714286
      50              7826.000000
      51              7406.714286
      52              7281.200000
      53              5105.000000
2011  01             16825.285714
      02              8326.285714
      03              6731.714286
      04              6228.857143
      05              5718.285714
      06              5702.714286
      07              2916.142857
      08              2193.857143
      09              2123.714286
      10              2075.428571
      11              1652.714286
      12              2547.571429
      13              1871.428571
      14              2726.857143
      15              3455.857143
      16              2553.142857
      17              3929.428571
      18              2060.857143
      19              1754.142857
      20              1685.142857
      21              1947.571429
      22              1554.428571
      23              1552.428571
      24              1697.000000
      25              1834.857143
      26              1767.857143
      27              3857.571429
      28              2304.142857
      29              2373.714286
      30              6170.571429
      31              4528.571429
      32              3452.285714
      33              4190.857143
      34              6166.857143
      35              4143.833333
      36             13497.142857
      37              8066.714286
      38              7430.000000
      39              8772.000000
      40              6626.428571
      41              5669.571429
      42              5418.166667
      43              9624.142857
      44              7329.000000
      45              6841.428571
      46              6514.285714
      47              7393.571429
      48             10441.571429
      49              8618.285714
      50              8311.714286
      51              6055.000000
      52              6753.875000
2012  01             15298.250000
      02             11005.142857
      03             19974.714286
      04             31941.571429
      05             30978.142857
      06             66317.714286
      07              7093.285714
      08              6121.714286
      09              4484.714286
      10             43629.142857
      11             25857.428571
      12             33141.714286
      13              4990.857143
      14              3382.285714
      15              3539.428571
      16              3343.714286
      17              5586.142857
      18              4415.333333
      19              3550.857143
      20              2447.714286
      21              2673.857143
      22              2402.000000
      23              2499.000000
      24              2346.000000
      25              2801.285714
      26              1948.571429
      27              2021.428571
      28              3618.142857
      29              2769.571429
      30              4300.571429
      31              3140.714286
      32              4831.714286
      33              4778.285714
      34              6214.428571
      35              5951.142857
      36              9971.285714
      37             24415.714286
      38             13891.714286
      39              6806.285714
      40              9759.571429
      41              7429.285714
      42             13367.571429
      43              6176.428571
      44             11272.857143
      45              7672.714286
      46              5796.857143
      47              8066.285714
      48              8649.571429
      49             11696.000000
      50              7900.714286
      51              6534.000000
      52              8432.000000
2013  01             13550.250000
      02             26504.571429
      03              9834.428571
      04              8278.000000
      05              9330.714286
      06              7024.285714
      07              2779.714286
      08              2615.428571
      09              2736.428571
      10              2359.857143
      11              2976.714286
      12              3461.285714
      13              2452.857143
      14              1952.714286
      15              2109.857143
      16              1956.285714
      17              2753.142857
      18              2809.714286
      19              2017.714286
      20              1797.571429
      21              1627.571429
      22              1680.571429
      23              1560.142857
      24              1904.428571
      25              1541.000000
      26              1638.428571
      27              1512.571429
      28              1655.714286
      29              2067.000000
      30              2415.500000
      31              2522.857143
      32              3350.142857
      33              2517.714286
      34              2965.000000
      35              3049.857143
      36             12357.857143
      37             11710.428571
      38              9063.857143
      39             21188.857143
      40             12382.714286
      41             10613.571429
      42              9718.857143
      43             14573.000000
      44              4688.000000
      45              4145.285714
      46              6926.142857
      47             12430.142857
      48              8589.428571
      49              8831.428571
      50              8399.714286
      51              6789.857143
      52              8542.142857
2014  01              5887.375000
      02             13389.000000
      03             37083.714286
      04             40020.857143
      05             41866.714286
      06             68261.142857
      07              3307.857143
      08              2393.571429
      09              2211.285714
      10              2212.571429
      11              2228.142857
      12              1873.714286
      13              2594.571429
      14              1768.428571
      15              1601.571429
      16              1920.428571
      17              2044.571429
      18              2031.285714
      19              3612.000000
      20              2169.857143
      21              1906.857143
      22              2270.714286
      23              1613.000000
      24              1632.285714
      25              1362.000000
      26              1264.285714
      27              1433.142857
      28              1559.714286
      29              1900.142857
      30              2069.857143
      31              2648.142857
      32              2626.142857
      33              3560.571429
      34              3384.142857
      35              3439.666667
      36              4876.714286
      37             16549.285714
      38              8640.857143
      39              5907.142857
      40              5258.142857
      41              7984.285714
      42              5734.142857
      43             19655.571429
      44              6466.000000
      45              5518.142857
      46              4191.285714
      47              3514.428571
      48              3794.571429
      49              4464.714286
      50              3991.285714
      51              3685.714286
      52              4239.428571
2015  01              4697.500000
      02              7283.285714
      03             13632.000000
      04              6657.857143
      05              4796.000000
      06              9144.500000
      07              2910.571429
      08              2555.428571
      09              1658.714286
      10              2299.714286
      11              1813.428571
      12              1419.571429
      13              1896.142857
      14              1209.571429
      15              1201.285714
      16              1375.857143
      17              1647.000000
      18              1620.285714
      19              1485.285714
      20              1445.285714
      21              2451.428571
      22              1262.857143
      23              1065.714286
      24               980.142857
      25               944.428571
      26              1373.285714
      27               862.857143
      28              1075.714286
      29              1594.285714
      30              1423.285714
      31              1314.714286
      32              1521.857143
      33              1667.142857
      34              1998.285714
      35              2220.285714
      36              2468.428571
      37              3790.857143
      38              6487.857143
      39              3928.857143
      40              4895.285714
      41              3143.428571
      42              2805.833333
      43              3558.714286
      44              3034.857143
      45              4855.000000
      46              3522.285714
      47              5578.000000
      48              3475.571429
      49             43895.428571
      50              2918.714286
      51              2594.000000
      52              3061.857143
      53              7049.500000
2016  01              4962.428571
      02              4373.000000
      03             15737.666667
      53              2768.333333
Name: sales, dtype: float64

In [30]:
gWeek=txsWeb.groupby(['year','week_number'])
weekly_avgs=gWeek.aggregate({"sales": np.mean})

In [31]:
for i in (weekly_avgs):
    print(i)

sales

In [40]:
a=(txsAvg(txsWeb)[2]['sales'])

In [42]:
list(a)

[11920.0,
 5145.5714285714284,
 3661.7142857142858,
 5072.1428571428569,
 5051.1111111111113,
 6984.5714285714284,
 8295.8571428571431,
 13430.0,
 7646.666666666667,
 38150.571428571428,
 3163.4285714285716,
 2252.0,
 1874.8,
 2523.1999999999998,
 1667.4285714285713,
 1414.7142857142858,
 1624.4285714285713,
 1530.0,
 1907.7142857142858,
 2042.7142857142858,
 3117.1428571428573,
 1797.0,
 1529.8571428571429,
 1453.5714285714287,
 1393.5714285714287,
 1268.3333333333333,
 1262.6666666666667,
 1201.8571428571429,
 1353.5714285714287,
 1181.2857142857142,
 1132.1666666666667,
 1484.6666666666667,
 1440.0,
 2500.0,
 1648.2857142857142,
 2095.2857142857142,
 2441.8571428571427,
 2970.7142857142858,
 4212.1428571428569,
 2754.4285714285716,
 2736.7142857142858,
 2248.0,
 2593.5714285714284,
 2924.2857142857142,
 2407.0,
 2835.8571428571427,
 3320.8571428571427,
 2836.0,
 2206.8571428571427,
 3588.2857142857142,
 2692.0,
 2386.2857142857142,
 3380.2857142857142,
 2794.2857142857142,
 10968.5,
 5566.7142857142853,
 3587.5714285714284,
 2847.0,
 2748.5714285714284,
 3957.2857142857142,
 2106.4285714285716,
 1535.8571428571429,
 1748.5714285714287,
 1574.1428571428571,
 1625.0,
 1414.4285714285713,
 1768.2857142857142,
 1715.2857142857142,
 1439.8571428571429,
 1557.0,
 2077.2857142857142,
 1911.2857142857142,
 1588.2857142857142,
 1500.8571428571429,
 1470.0,
 1352.4285714285713,
 1417.5714285714287,
 1411.0,
 1473.5714285714287,
 1230.7142857142858,
 1477.2857142857142,
 1703.1428571428571,
 1524.8571428571429,
 1934.1428571428571,
 1800.1428571428571,
 2722.0,
 2535.8571428571427,
 3560.8571428571427,
 2848.4285714285716,
 2973.5714285714284,
 3831.8571428571427,
 3940.4285714285716,
 15868.0,
 7074.7142857142853,
 6534.0,
 13180.0,
 4800.8571428571431,
 5333.5714285714284,
 4382.7142857142853,
 5262.0,
 11302.5,
 6674.7142857142853,
 6904.1428571428569,
 6423.7142857142853,
 9822.8571428571431,
 7079.7142857142853,
 8295.75,
 6505.2857142857147,
 14205.142857142857,
 10278.799999999999,
 26766.142857142859,
 30194.428571428572,
 12482.166666666666,
 3046.5714285714284,
 2770.0,
 2942.4285714285716,
 2064.4285714285716,
 1999.0,
 2228.7142857142858,
 1822.8571428571429,
 2135.8571428571427,
 2042.0,
 3568.2857142857142,
 2526.8571428571427,
 2063.7142857142858,
 1753.8571428571429,
 1614.4285714285713,
 1399.8571428571429,
 1530.0,
 2127.5714285714284,
 986.28571428571433,
 1005.6666666666666,
 1153.5,
 1407.5,
 1528.0,
 2061.5714285714284,
 2564.7142857142858,
 3634.0,
 3123.4285714285716,
 4771.7142857142853,
 4170.8571428571431,
 3586.7142857142858,
 7407.4285714285716,
 8183.0,
 18907.714285714286,
 6321.2857142857147,
 6527.5714285714284,
 6857.2857142857147,
 7124.0,
 8179.5714285714284,
 9691.8571428571431,
 6226.5714285714284,
 7282.8571428571431,
 9096.5714285714294,
 9219.4285714285706,
 10455.714285714286,
 7826.0,
 7406.7142857142853,
 7281.1999999999998,
 5105.0,
 16825.285714285714,
 8326.2857142857138,
 6731.7142857142853,
 6228.8571428571431,
 5718.2857142857147,
 5702.7142857142853,
 2916.1428571428573,
 2193.8571428571427,
 2123.7142857142858,
 2075.4285714285716,
 1652.7142857142858,
 2547.5714285714284,
 1871.4285714285713,
 2726.8571428571427,
 3455.8571428571427,
 2553.1428571428573,
 3929.4285714285716,
 2060.8571428571427,
 1754.1428571428571,
 1685.1428571428571,
 1947.5714285714287,
 1554.4285714285713,
 1552.4285714285713,
 1697.0,
 1834.8571428571429,
 1767.8571428571429,
 3857.5714285714284,
 2304.1428571428573,
 2373.7142857142858,
 6170.5714285714284,
 4528.5714285714284,
 3452.2857142857142,
 4190.8571428571431,
 6166.8571428571431,
 4143.833333333333,
 13497.142857142857,
 8066.7142857142853,
 7430.0,
 8772.0,
 6626.4285714285716,
 5669.5714285714284,
 5418.166666666667,
 9624.1428571428569,
 7329.0,
 6841.4285714285716,
 6514.2857142857147,
 7393.5714285714284,
 10441.571428571429,
 8618.2857142857138,
 8311.7142857142862,
 6055.0,
 6753.875,
 15298.25,
 11005.142857142857,
 19974.714285714286,
 31941.571428571428,
 30978.142857142859,
 66317.71428571429,
 7093.2857142857147,
 6121.7142857142853,
 4484.7142857142853,
 43629.142857142855,
 25857.428571428572,
 33141.714285714283,
 4990.8571428571431,
 3382.2857142857142,
 3539.4285714285716,
 3343.7142857142858,
 5586.1428571428569,
 4415.333333333333,
 3550.8571428571427,
 2447.7142857142858,
 2673.8571428571427,
 2402.0,
 2499.0,
 2346.0,
 2801.2857142857142,
 1948.5714285714287,
 2021.4285714285713,
 3618.1428571428573,
 2769.5714285714284,
 4300.5714285714284,
 3140.7142857142858,
 4831.7142857142853,
 4778.2857142857147,
 6214.4285714285716,
 5951.1428571428569,
 9971.2857142857138,
 24415.714285714286,
 13891.714285714286,
 6806.2857142857147,
 9759.5714285714294,
 7429.2857142857147,
 13367.571428571429,
 6176.4285714285716,
 11272.857142857143,
 7672.7142857142853,
 5796.8571428571431,
 8066.2857142857147,
 8649.5714285714294,
 11696.0,
 7900.7142857142853,
 6534.0,
 8432.0,
 13550.25,
 26504.571428571428,
 9834.4285714285706,
 8278.0,
 9330.7142857142862,
 7024.2857142857147,
 2779.7142857142858,
 2615.4285714285716,
 2736.4285714285716,
 2359.8571428571427,
 2976.7142857142858,
 3461.2857142857142,
 2452.8571428571427,
 1952.7142857142858,
 2109.8571428571427,
 1956.2857142857142,
 2753.1428571428573,
 2809.7142857142858,
 2017.7142857142858,
 1797.5714285714287,
 1627.5714285714287,
 1680.5714285714287,
 1560.1428571428571,
 1904.4285714285713,
 1541.0,
 1638.4285714285713,
 1512.5714285714287,
 1655.7142857142858,
 2067.0,
 2415.5,
 2522.8571428571427,
 3350.1428571428573,
 2517.7142857142858,
 2965.0,
 3049.8571428571427,
 12357.857142857143,
 11710.428571428571,
 9063.8571428571431,
 21188.857142857141,
 12382.714285714286,
 10613.571428571429,
 9718.8571428571431,
 14573.0,
 4688.0,
 4145.2857142857147,
 6926.1428571428569,
 12430.142857142857,
 8589.4285714285706,
 8831.4285714285706,
 8399.7142857142862,
 6789.8571428571431,
 8542.1428571428569,
 5887.375,
 13389.0,
 37083.714285714283,
 40020.857142857145,
 41866.714285714283,
 68261.142857142855,
 3307.8571428571427,
 2393.5714285714284,
 2211.2857142857142,
 2212.5714285714284,
 2228.1428571428573,
 1873.7142857142858,
 2594.5714285714284,
 1768.4285714285713,
 1601.5714285714287,
 1920.4285714285713,
 2044.5714285714287,
 2031.2857142857142,
 3612.0,
 2169.8571428571427,
 1906.8571428571429,
 2270.7142857142858,
 1613.0,
 1632.2857142857142,
 1362.0,
 1264.2857142857142,
 1433.1428571428571,
 1559.7142857142858,
 1900.1428571428571,
 2069.8571428571427,
 2648.1428571428573,
 2626.1428571428573,
 3560.5714285714284,
 3384.1428571428573,
 3439.6666666666665,
 4876.7142857142853,
 16549.285714285714,
 8640.8571428571431,
 5907.1428571428569,
 5258.1428571428569,
 7984.2857142857147,
 5734.1428571428569,
 19655.571428571428,
 6466.0,
 5518.1428571428569,
 4191.2857142857147,
 3514.4285714285716,
 3794.5714285714284,
 4464.7142857142853,
 3991.2857142857142,
 3685.7142857142858,
 4239.4285714285716,
 4697.5,
 7283.2857142857147,
 13632.0,
 6657.8571428571431,
 4796.0,
 9144.5,
 2910.5714285714284,
 2555.4285714285716,
 1658.7142857142858,
 2299.7142857142858,
 1813.4285714285713,
 1419.5714285714287,
 1896.1428571428571,
 1209.5714285714287,
 1201.2857142857142,
 1375.8571428571429,
 1647.0,
 1620.2857142857142,
 1485.2857142857142,
 1445.2857142857142,
 2451.4285714285716,
 1262.8571428571429,
 1065.7142857142858,
 980.14285714285711,
 944.42857142857144,
 1373.2857142857142,
 862.85714285714289,
 1075.7142857142858,
 1594.2857142857142,
 1423.2857142857142,
 1314.7142857142858,
 1521.8571428571429,
 1667.1428571428571,
 1998.2857142857142,
 2220.2857142857142,
 2468.4285714285716,
 3790.8571428571427,
 6487.8571428571431,
 3928.8571428571427,
 4895.2857142857147,
 3143.4285714285716,
 2805.8333333333335,
 3558.7142857142858,
 3034.8571428571427,
 4855.0,
 3522.2857142857142,
 5578.0,
 3475.5714285714284,
 43895.428571428572,
 2918.7142857142858,
 2594.0,
 3061.8571428571427,
 7049.5,
 4962.4285714285716,
 4373.0,
 15737.666666666666,
 2768.3333333333335]

In [ ]:
for i in enumerate()

In [ ]:
gYear=txsWeb.groupby(['year'+'week_number'])
yearly_avgs= gYear.aggregate({"sales":np.mean})
yearly_avgs

In [ ]:
gMonth=txs.groupby(['month'])
monthly_avgs= gMonth.aggregate({"sales":np.mean})
monthly_avgs

In [ ]:
gWeek=txs.groupby(['week_number'])
weekly_avgs= gWeek.aggregate({"sales":np.mean})
weekly_avgs

In [ ]:
converted = ts.asfreq('45Min', method='pad')

In [ ]:
dr = pd.date_range('1/1/2010', periods=3, freq=3 * txsWalmart.sales())